body{
  background: darkslategrey;
}
.container{
  height: 500px;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}
p{
  z-index: 1;
  color: white;
  margin: -75px;
}
.fixbutton{
  width: 100px;
  height: 100px;
  background: lightgreen;
  display:flex;
  transform: rotate(45deg);

  
}
.borderbutton{
  width: 100px;
  height: 100px;
  border:3px solid red;
  align-self: center;
  transform: rotate(45deg);
}
.borderbutton:hover{
  transform: rotate(90deg);
}
p:hover{
  color:red;
}
