*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
html{
    display: table;
    margin:auto;

}

.container{
    width: 400px;
    height: 500px;
    background: yellow;
    display: flex;
    justify-content: flex-end;

}
.sidebar{
    width: 100px;
    background: green;
}
.header{
    position: absolute;
    top: 0;
    width: 400px;
    height: 50px;
    background: purple;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 1;
    
}
a{
    color: aqua;
    
    z-index: 2;
    
}
