*{
    padding: 0;
    margin: 0;
}
.container{
    width: 100%;
    
}
.item{
    height: 200px;

}
.green{
    background: green;
    
}
.yellow{
    background: yellow;
    height: 400px;
    position:relative;
    top: 200px;

}


.purple{
    background: purple;
    position:relative;
    top: -400px;
    
}