p{
 color:white;
 font-family: 'Spectral SC', serif;
 text-align: center;
}

div{
  width: 250px;
  margin: auto;
}

.one{

  border: 1px solid orange;
  background: orange;
  background-image: url(duck/duck.png);
  background-repeat: no-repeat;
  background-size: 60px 50px;
  background-position: left;
}

.two{
  border:1px solid purple;
  background: purple;
  background-image: url(duck/duck.png);
  background-repeat: no-repeat;
  background-size: 150px 130px;
  background-position: center;
}

.three{
  border: 1px solid grey;
  background: grey;
  background-image: url(duck/duck.png);
  background-repeat: no-repeat;
  background-size: 60px 50px;
  background-position: bottom right;
}
